<div class="container">
    <h1>Gráficos Dinámicos <small> Linea</small></h1>
    <hr>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Graficos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="linea">Linea</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="barra">Barras</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="dona">Dodas</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="radar">Radar</a>

                </div>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>